IVF Portal App/force-app/main/default/flows/Case_Patient_Creation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assign_Exisitng_Patients</name>
        <label>Assign Exisitng Patients</label>
        <locationX>1295</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Applicant1_Exisitng_Patients</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Existing_Patients</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Patient_Exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Existing_Patients</name>
        <label>Assign Existing Patients</label>
        <locationX>2140</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>Applicant2_Existing_Patients</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Existing_Patients_for_Applicant2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Applicant_2_Patient_Details_Exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Patient_Details_for_Applicant_2</name>
        <label>Assign Patient Details for Applicant 2</label>
        <locationX>1898</locationX>
        <locationY>1619</locationY>
        <assignmentItems>
            <assignToReference>Iterate_Applicant2_Patients.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant2GivenName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_Applicant2_Patients.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant2Surname__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_Applicant2_Patients.MiddleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant2MiddleName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_Applicant2_Patients.PersonBirthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant2DateOfBirth__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_Applicant2_Patients.PersonMailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant2Address__CountryCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_Applicant2_Patients.PersonMailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant2Address__StateCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_Applicant2_Patients.PersonMailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant2Address__City__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_Applicant2_Patients.PersonMailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant2Address__Street__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_Applicant2_Patients.PersonMailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant2Address__PostalCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateExistingPatients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Applicant2_Patients</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Applicant2PatientID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Applicant2_Patients.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_Applicant2_Patients.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant2Address__CountryCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_Applicant2_Patients.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant2Address__StateCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_Applicant2_Patients.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant2Address__City__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_Applicant2_Patients.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant2Address__Street__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_Applicant2_Patients.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant2Address__PostalCode__s</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Applicant2_Patients</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Existing_Patients</name>
        <label>Copy 1 of Assign Existing Patients</label>
        <locationX>732</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>Applicant2_Existing_Patients</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Existing_Patients_for_Applicant2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_If_Applicant_2_Patient_Details_Exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Patient_Details_for_Applicant_2</name>
        <label>Copy 1 of Assign Patient Details for Applicant 2</label>
        <locationX>490</locationX>
        <locationY>1919</locationY>
        <assignmentItems>
            <assignToReference>Copy_1_of_Iterate_Applicant2_Patients.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant2GivenName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Copy_1_of_Iterate_Applicant2_Patients.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant2Surname__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Copy_1_of_Iterate_Applicant2_Patients.MiddleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant2MiddleName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Copy_1_of_Iterate_Applicant2_Patients.PersonBirthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant2DateOfBirth__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Copy_1_of_Iterate_Applicant2_Patients.PersonMailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant2Address__CountryCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Copy_1_of_Iterate_Applicant2_Patients.PersonMailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant2Address__StateCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Copy_1_of_Iterate_Applicant2_Patients.PersonMailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant2Address__City__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Copy_1_of_Iterate_Applicant2_Patients.PersonMailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant2Address__Street__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Copy_1_of_Iterate_Applicant2_Patients.PersonMailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant2Address__PostalCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateExistingPatients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_1_of_Iterate_Applicant2_Patients</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Applicant2PatientID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Iterate_Applicant2_Patients.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Copy_1_of_Iterate_Applicant2_Patients.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant2Address__CountryCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Copy_1_of_Iterate_Applicant2_Patients.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant2Address__StateCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Copy_1_of_Iterate_Applicant2_Patients.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant2Address__City__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Copy_1_of_Iterate_Applicant2_Patients.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant2Address__Street__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Copy_1_of_Iterate_Applicant2_Patients.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant2Address__PostalCode__s</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Iterate_Applicant2_Patients</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Existing_Patient_Details</name>
        <label>Update Existing Patient Details</label>
        <locationX>479</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>Iterate_Patients.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant1GivenName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_Patients.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant1Surname__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_Patients.MiddleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant1MiddleName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_Patients.PersonBirthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant1DateOfBirth__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_Patients.PersonMailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant1Address__CountryCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_Patients.PersonMailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant1Address__StateCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_Patients.PersonMailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant1Address__City__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_Patients.PersonMailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant1Address__Street__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_Patients.PersonMailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant1Address__PostalCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateExistingPatients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Patients</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Applicant1PatientID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Patients.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_Patients.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant1Address__CountryCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_Patients.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant1Address__StateCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_Patients.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant1Address__City__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_Patients.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant1Address__Street__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Iterate_Patients.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant1Address__PostalCode__s</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Patients</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Applicant_1_Patient_Existing_Error</name>
        <label>Applicant 1 Patient Existing Error</label>
        <locationX>1194</locationX>
        <locationY>971</locationY>
        <customErrorMessages>
            <errorMessage>Duplicate Patient found with the same application number for Applicant 1 - {!$Record.Applicant1PersonalHealthNumber__c} which is already submitted.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Copy_1_of_Patient_Existing_Error_for_Applicant2</name>
        <label>Copy 1 of Patient Existing Error for Applicant2</label>
        <locationX>666</locationX>
        <locationY>1811</locationY>
        <customErrorMessages>
            <errorMessage>Duplicate Patient found with the same application number for Applicant 2 - {!$Record.Applicant2PersonalHealthNumber__c} which is already submitted.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Patient_Existing_Error_for_Applicant2</name>
        <label>Patient Existing Error for Applicant2</label>
        <locationX>2074</locationX>
        <locationY>1511</locationY>
        <customErrorMessages>
            <errorMessage>Duplicate Patient found with the same application number for Applicant 2 - {!$Record.Applicant2PersonalHealthNumber__c} which is already submitted.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_If_Allow_Duplicate_Patient_for_Applicant_1</name>
        <label>Check If Allow Duplicate Patient for Applicant 1</label>
        <locationX>792</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Applicant_1_Patient_Existing_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Allow_Duplicate_Patient</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Allow_Duplicate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Patients</targetReference>
            </connector>
            <label>Allow Duplicate Patient</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Applicant_2_Not_Applicable</name>
        <label>Check If Applicant 2 Not Applicable?</label>
        <locationX>391</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Get_Existing_Patients_for_Applicant2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Applicant 2 is Applicable</defaultConnectorLabel>
        <rules>
            <name>Not_Applicable_Applicant2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NotApplicable__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Patient_Records</targetReference>
            </connector>
            <label>Not Applicable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Duplicates_allow_for_Applicant_2</name>
        <label>Check If Duplicates allow for Applicant 2</label>
        <locationX>1942</locationX>
        <locationY>1403</locationY>
        <defaultConnector>
            <targetReference>Patient_Existing_Error_for_Applicant2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Duplicates Not Allowed</defaultConnectorLabel>
        <rules>
            <name>Allow_Duplicate_Patients_for_Applicant2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Allow_Duplicate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Iterate_Applicant2_Patients</targetReference>
            </connector>
            <label>Allow Duplicate Patients for Applicant2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_If_Duplicates_allow_for_Applicant_2</name>
        <label>Copy 1 of Check If Duplicates allow for Applicant 2</label>
        <locationX>534</locationX>
        <locationY>1703</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Patient_Existing_Error_for_Applicant2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Duplicates Not Allowed</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Allow_Duplicate_Patients_for_Applicant2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Allow_Duplicate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Iterate_Applicant2_Patients</targetReference>
            </connector>
            <label>Copy 1 of Allow Duplicate Patients for Applicant2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_If_Applicant_2_Patient_Details_Exist</name>
        <label>Copy 1 of If Applicant 2 Patient Details Exist?</label>
        <locationX>732</locationX>
        <locationY>1595</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Create_Patient2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Exist</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Applicant2_Patient_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Applicant2_Existing_Patients</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Check_If_Duplicates_allow_for_Applicant_2</targetReference>
            </connector>
            <label>Copy 1 of Applicant2 Patient Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Applicant_2_Not_Applicable</name>
        <label>If Applicant 2 Not Applicable?</label>
        <locationX>1799</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Get_Existing_Patients_for_Applicant2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Not_Applicable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NotApplicable__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Applicant1</targetReference>
            </connector>
            <label>Not Applicable</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Applicant_2_Patient_Details_Exist</name>
        <label>If Applicant 2 Patient Details Exist?</label>
        <locationX>2140</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Create_Patient2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Exist</defaultConnectorLabel>
        <rules>
            <name>Applicant2_Patient_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Applicant2_Existing_Patients</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_Duplicates_allow_for_Applicant_2</targetReference>
            </connector>
            <label>Applicant2 Patient Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Patient_Exist</name>
        <label>If Patient Exist?</label>
        <locationX>1295</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Create_Patient1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Patient_Exist_for_Applicant_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Applicant1_Exisitng_Patients</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_Allow_Duplicate_Patient_for_Applicant_1</targetReference>
            </connector>
            <label>Patient Exist for Applicant 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Changed</name>
        <label>Status Changed?</label>
        <locationX>1948</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Status_Changed_to_Submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetPersonAccountRecordType</targetReference>
            </connector>
            <label>Status Changed to Submitted</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Case Patient Creation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Patient Creation Flow</label>
    <loops>
        <name>Copy_1_of_Iterate_Applicant2_Patients</name>
        <label>Copy 1 of Iterate Applicant2 Patients</label>
        <locationX>402</locationX>
        <locationY>1811</locationY>
        <collectionReference>Get_Existing_Patients_for_Applicant2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Assign_Patient_Details_for_Applicant_2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Update_Existing_Patients_for_Applicants</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Applicant2_Patients</name>
        <label>Iterate Applicant2 Patients</label>
        <locationX>1810</locationX>
        <locationY>1511</locationY>
        <collectionReference>Get_Existing_Patients_for_Applicant2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Patient_Details_for_Applicant_2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Existing_Patients_for_Applicants</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Patients</name>
        <label>Iterate Patients</label>
        <locationX>391</locationX>
        <locationY>971</locationY>
        <collectionReference>Get_Existing_Patients</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Existing_Patient_Details</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_If_Applicant_2_Not_Applicable</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Patient2</name>
        <label>Copy 1 of Create Patient2</label>
        <locationX>930</locationX>
        <locationY>1703</locationY>
        <connector>
            <targetReference>Copy_1_of_Update_Patients</targetReference>
        </connector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>$Record.Applicant2Address__City__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>$Record.Applicant2Address__CountryCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>$Record.Applicant2Address__PostalCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>$Record.Applicant2Address__StateCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>$Record.Applicant2Address__Street__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.Applicant2GivenName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Applicant2Surname__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MiddleName</field>
            <value>
                <elementReference>$Record.Applicant2MiddleName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonBirthdate</field>
            <value>
                <elementReference>$Record.Applicant2DateOfBirth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingCity</field>
            <value>
                <elementReference>$Record.Applicant2Address__City__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingCountry</field>
            <value>
                <elementReference>$Record.Applicant2Address__CountryCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingPostalCode</field>
            <value>
                <elementReference>$Record.Applicant2Address__PostalCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingState</field>
            <value>
                <elementReference>$Record.Applicant2Address__StateCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingStreet</field>
            <value>
                <elementReference>$Record.Applicant2Address__Street__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonalHealthNumber__c</field>
            <value>
                <elementReference>$Record.Applicant2PersonalHealthNumber__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Patient1</name>
        <label>Create Patient1</label>
        <locationX>1799</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>If_Applicant_2_Not_Applicable</targetReference>
        </connector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>$Record.Applicant1Address__City__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>$Record.Applicant1Address__CountryCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>$Record.Applicant1Address__PostalCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>$Record.Applicant1Address__StateCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>$Record.Applicant1Address__Street__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.Applicant1GivenName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Applicant1Surname__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MiddleName</field>
            <value>
                <elementReference>$Record.Applicant1MiddleName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonBirthdate</field>
            <value>
                <elementReference>$Record.Applicant1DateOfBirth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingCity</field>
            <value>
                <elementReference>$Record.Applicant1Address__City__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingCountry</field>
            <value>
                <elementReference>$Record.Applicant1Address__CountryCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingPostalCode</field>
            <value>
                <elementReference>$Record.Applicant1Address__PostalCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingState</field>
            <value>
                <elementReference>$Record.Applicant1Address__StateCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingStreet</field>
            <value>
                <elementReference>$Record.Applicant1Address__Street__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonalHealthNumber__c</field>
            <value>
                <elementReference>$Record.Applicant1PersonalHealthNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetPersonAccountRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Patient2</name>
        <label>Create Patient2</label>
        <locationX>2338</locationX>
        <locationY>1403</locationY>
        <connector>
            <targetReference>Update_Patients</targetReference>
        </connector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>$Record.Applicant2Address__City__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>$Record.Applicant2Address__CountryCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>$Record.Applicant2Address__PostalCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>$Record.Applicant2Address__StateCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>$Record.Applicant2Address__Street__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.Applicant2GivenName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Applicant2Surname__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MiddleName</field>
            <value>
                <elementReference>$Record.Applicant2MiddleName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonBirthdate</field>
            <value>
                <elementReference>$Record.Applicant2DateOfBirth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingCity</field>
            <value>
                <elementReference>$Record.Applicant2Address__City__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingCountry</field>
            <value>
                <elementReference>$Record.Applicant2Address__CountryCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingPostalCode</field>
            <value>
                <elementReference>$Record.Applicant2Address__PostalCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingState</field>
            <value>
                <elementReference>$Record.Applicant2Address__StateCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonMailingStreet</field>
            <value>
                <elementReference>$Record.Applicant2Address__Street__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonalHealthNumber__c</field>
            <value>
                <elementReference>$Record.Applicant2PersonalHealthNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>PersonAccountRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_Get_Existing_Patients_for_Applicant2</name>
        <label>Copy 1 of Get Existing Patients for Applicant2</label>
        <locationX>732</locationX>
        <locationY>1379</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Assign_Existing_Patients</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonalHealthNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Applicant2PersonalHealthNumber__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Patients</name>
        <label>Get Existing Patients</label>
        <locationX>1295</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Exisitng_Patients</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonalHealthNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Applicant1PersonalHealthNumber__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Patients_for_Applicant2</name>
        <label>Get Existing Patients for Applicant2</label>
        <locationX>2140</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Existing_Patients</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonalHealthNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Applicant2PersonalHealthNumber__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPersonAccountRecordType</name>
        <label>GetPersonAccountRecordType</label>
        <locationX>1295</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_Patients</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PersonAccount</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Existing_Patients_for_Applicants</name>
        <label>Copy 1 of Update Existing Patients for Applicants</label>
        <locationX>402</locationX>
        <locationY>2111</locationY>
        <connector>
            <targetReference>Copy_1_of_Update_Patient_Details_for_Both_Applicants</targetReference>
        </connector>
        <inputReference>UpdateExistingPatients</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Patient_Details_for_Both_Applicants</name>
        <label>Copy 1 of Update Patient Details for Both Applicants</label>
        <locationX>402</locationX>
        <locationY>2219</locationY>
        <inputAssignments>
            <field>Applicant1__c</field>
            <value>
                <elementReference>Applicant1PatientID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant2__c</field>
            <value>
                <elementReference>Applicant2PatientID</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Patients</name>
        <label>Copy 1 of Update Patients</label>
        <locationX>930</locationX>
        <locationY>1811</locationY>
        <inputAssignments>
            <field>Applicant1__c</field>
            <value>
                <elementReference>Applicant1PatientID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant2__c</field>
            <value>
                <elementReference>Copy_1_of_Create_Patient2</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Applicant1</name>
        <label>Update Applicant1</label>
        <locationX>1458</locationX>
        <locationY>1079</locationY>
        <inputAssignments>
            <field>Applicant1__c</field>
            <value>
                <elementReference>Create_Patient1</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Applicant_Look_Up_Details</name>
        <label>Update Applicant Look Up Details</label>
        <locationX>50</locationX>
        <locationY>1487</locationY>
        <inputAssignments>
            <field>Applicant1__c</field>
            <value>
                <elementReference>Applicant1PatientID</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Existing_Patients_for_Applicants</name>
        <label>Update Existing Patients for Applicants</label>
        <locationX>1810</locationX>
        <locationY>1811</locationY>
        <connector>
            <targetReference>Update_Patient_Details_for_Both_Applicants</targetReference>
        </connector>
        <inputReference>UpdateExistingPatients</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Patient_Details_for_Both_Applicants</name>
        <label>Update Patient Details for Both Applicants</label>
        <locationX>1810</locationX>
        <locationY>1919</locationY>
        <inputAssignments>
            <field>Applicant1__c</field>
            <value>
                <elementReference>Create_Patient1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant2__c</field>
            <value>
                <elementReference>Applicant2PatientID</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Patient_Records</name>
        <label>Update Patient Records</label>
        <locationX>50</locationX>
        <locationY>1379</locationY>
        <connector>
            <targetReference>Update_Applicant_Look_Up_Details</targetReference>
        </connector>
        <inputReference>UpdateExistingPatients</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Patients</name>
        <label>Update Patients</label>
        <locationX>2338</locationX>
        <locationY>1511</locationY>
        <inputAssignments>
            <field>Applicant1__c</field>
            <value>
                <elementReference>Create_Patient1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant2__c</field>
            <value>
                <elementReference>Create_Patient2</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1822</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status_Changed</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Applicant1_Exisitng_Patients</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Applicant1PatientID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Applicant2_Existing_Patients</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Applicant2PatientID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PersonAccountRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdateExistingPatients</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
