IVF Portal App/force-app/main/default/flows/Case_After_Handler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Existing_Patient_Details_from_Applicant2</name>
        <label>Assign Existing Patient Details from Applicant2</label>
        <locationX>2162</locationX>
        <locationY>1727</locationY>
        <assignmentItems>
            <assignToReference>Get_Existing_Patients_for_Applicant2.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant2GivenName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Existing_Patients_for_Applicant2.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant2Surname__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Existing_Patients_for_Applicant2.MiddleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant2MiddleName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Existing_Patients_for_Applicant2.PersonBirthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant2DateOfBirth__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Existing_Patients_for_Applicant2.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant2Address__CountryCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Existing_Patients_for_Applicant2.ShippingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant2Address__StateCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Existing_Patients_for_Applicant2.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant2Address__City__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Existing_Patients_for_Applicant2.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant2Address__Street__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Existing_Patients_for_Applicant2.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant2Address__PostalCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Existing_Patients_for_Applicant2.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant2Address__CountryCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Existing_Patients_for_Applicant2.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant2Address__StateCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Existing_Patients_for_Applicant2.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant2Address__City__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Existing_Patients_for_Applicant2.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant2Address__Street__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Existing_Patients_for_Applicant2.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant2Address__PostalCode__s</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Existing_Patient_Related_to_Applicant2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Existing_Patient_Details_from_Applicant2</name>
        <label>Copy 1 of Assign Existing Patient Details from Applicant2</label>
        <locationX>842</locationX>
        <locationY>1943</locationY>
        <assignmentItems>
            <assignToReference>Copy_1_of_Get_Existing_Patients_for_Applicant2.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant2GivenName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Copy_1_of_Get_Existing_Patients_for_Applicant2.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant2Surname__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Copy_1_of_Get_Existing_Patients_for_Applicant2.MiddleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant2MiddleName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Copy_1_of_Get_Existing_Patients_for_Applicant2.PersonBirthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant2DateOfBirth__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Copy_1_of_Get_Existing_Patients_for_Applicant2.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant2Address__CountryCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Copy_1_of_Get_Existing_Patients_for_Applicant2.ShippingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant2Address__StateCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Copy_1_of_Get_Existing_Patients_for_Applicant2.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant2Address__City__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Copy_1_of_Get_Existing_Patients_for_Applicant2.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant2Address__Street__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Copy_1_of_Get_Existing_Patients_for_Applicant2.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant2Address__PostalCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Copy_1_of_Get_Existing_Patients_for_Applicant2.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant2Address__CountryCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Copy_1_of_Get_Existing_Patients_for_Applicant2.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant2Address__StateCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Copy_1_of_Get_Existing_Patients_for_Applicant2.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant2Address__City__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Copy_1_of_Get_Existing_Patients_for_Applicant2.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant2Address__Street__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Copy_1_of_Get_Existing_Patients_for_Applicant2.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant2Address__PostalCode__s</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_Update_Existing_Patient_Related_to_Applicant2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Existing_Patient_Details_from_Applicant1</name>
        <label>Update Existing Patient Details from Applicant1</label>
        <locationX>875</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>Get_Existing_Patients.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant1GivenName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Existing_Patients.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant1Surname__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Existing_Patients.MiddleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant1MiddleName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Existing_Patients.PersonBirthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant1DateOfBirth__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Existing_Patients.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant1Address__CountryCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Existing_Patients.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant1Address__StateCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Existing_Patients.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant1Address__City__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Existing_Patients.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant1Address__Street__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Existing_Patients.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant1Address__PostalCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Existing_Patients.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant1Address__CountryCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Existing_Patients.ShippingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant1Address__StateCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Existing_Patients.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant1Address__City__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Existing_Patients.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant1Address__Street__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Existing_Patients.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Applicant1Address__PostalCode__s</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Patient_Record_for_Applicant_1</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Applicant_1_Patient_Existing_Error</name>
        <label>Applicant 1 Patient Existing Error</label>
        <locationX>1634</locationX>
        <locationY>1295</locationY>
        <customErrorMessages>
            <errorMessage>Duplicate Patient found with the same Personal Health Number ({!$Record.Applicant1PersonalHealthNumber__c}) for Applicant 1</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Copy_1_of_Patient_Existing_Error_for_Applicant2</name>
        <label>Copy 1 of Patient Existing Error for Applicant2</label>
        <locationX>1106</locationX>
        <locationY>1943</locationY>
        <customErrorMessages>
            <errorMessage>Duplicate Patient found with the same Personal Health Number({!$Record.Applicant2PersonalHealthNumber__c}) for Applicant 2</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <description>&quot;An error occurred while processing this request. The record could not be updated due to insufficient permissions or an invalid record type assignment. Please ensure you have the necessary access to this record and try again. If the issue persists, contact your system administrator and provide the following details: Error Code - INSUFFICIENT_ACCESS_ON_CROSS_REFERENCE_ENTITY.</description>
        <name>Error_Message_on_Non_Read_Only</name>
        <label>Error Message on Non Read Only</label>
        <locationX>3218</locationX>
        <locationY>647</locationY>
        <customErrorMessages>
            <errorMessage>{!Error_Message_on_Non_Read_Only}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <description>&quot;An error occurred while processing this request. The record could not be updated due to insufficient permissions or an invalid record type assignment. Please ensure you have the necessary access to this record and try again. If the issue persists, contact your system administrator and provide the following details: Error Code - INSUFFICIENT_ACCESS_ON_CROSS_REFERENCE_ENTITY.</description>
        <name>Error_Message_on_Read_Only</name>
        <label>Error Message on Read Only</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <customErrorMessages>
            <errorMessage>{!Error_Message_on_Read_Only}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Patient_Existing_Error_for_Applicant2</name>
        <label>Patient Existing Error for Applicant2</label>
        <locationX>2426</locationX>
        <locationY>1727</locationY>
        <customErrorMessages>
            <errorMessage>Duplicate Patient found with the same Personal Health Number({!$Record.Applicant2PersonalHealthNumber__c}) for Applicant 2</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_If_Allow_Duplicate_Patient_for_Applicant_1</name>
        <label>Check If Allow Duplicate Patient for Applicant 1</label>
        <locationX>1254</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>Applicant_1_Patient_Existing_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Duplicates Not Allowed</defaultConnectorLabel>
        <rules>
            <name>Allow_Duplicate_Patient_for_Applicant_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Allow_Duplicate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Existing_Patient_Details_from_Applicant1</targetReference>
            </connector>
            <label>Allow Duplicate Patient for Applicant 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Applicant_2_Not_Applicable</name>
        <label>Check If Applicant 2 Not Applicable?</label>
        <locationX>875</locationX>
        <locationY>1511</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Get_Existing_Patients_for_Applicant2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Applicant2 Applicable</defaultConnectorLabel>
        <rules>
            <name>Applicant_2_Not_Applicable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NotApplicable__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Applicant_Details_from_Patients</targetReference>
            </connector>
            <label>Applicant 2 Not Applicable</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Duplicates_allow_for_Applicant_2</name>
        <label>Check If Duplicates allow for Applicant 2</label>
        <locationX>2294</locationX>
        <locationY>1619</locationY>
        <defaultConnector>
            <targetReference>Patient_Existing_Error_for_Applicant2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Duplicates Not Allowed</defaultConnectorLabel>
        <rules>
            <name>Allow_Duplicate_Patients_for_Applicant2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Allow_Duplicate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Existing_Patient_Details_from_Applicant2</targetReference>
            </connector>
            <label>Allow Duplicate Patients for Applicant2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_If_Duplicates_allow_for_Applicant_2</name>
        <label>Copy 1 of Check If Duplicates allow for Applicant 2</label>
        <locationX>974</locationX>
        <locationY>1835</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Patient_Existing_Error_for_Applicant2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Duplicates Not Allowed</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Allow_Duplicate_Patients_for_Applicant2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Allow_Duplicate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Existing_Patient_Details_from_Applicant2</targetReference>
            </connector>
            <label>Copy 1 of Allow Duplicate Patients for Applicant2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_If_If_Applicant_2_Patient_is_Exist</name>
        <label>Copy 1 of If If Applicant 2 Patient is Exist?</label>
        <locationX>1172</locationX>
        <locationY>1727</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Create_Patient_for_Applicant2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Applicant 2 Patient Not Exist</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Applicant2_Patient_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Get_Existing_Patients_for_Applicant2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Check_If_Duplicates_allow_for_Applicant_2</targetReference>
            </connector>
            <label>Copy 1 of Applicant2 Patient Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Applicant1_Exist_as_Patient</name>
        <label>If Applicant1 Exist as Patient</label>
        <locationX>1724</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>Create_Patient_from_Applicant1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Patient Not Exist</defaultConnectorLabel>
        <rules>
            <name>Applicant1_Exist_as_Patient</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Patients</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_Allow_Duplicate_Patient_for_Applicant_1</targetReference>
            </connector>
            <label>Applicant1 Exist as Patient</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Applicant_2_Not_Applicable</name>
        <label>If Applicant 2 Not Applicable?</label>
        <locationX>2195</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Get_Existing_Patients_for_Applicant2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Applicable</defaultConnectorLabel>
        <rules>
            <name>Not_Applicable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NotApplicable__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Applicant_Details_for_Case</targetReference>
            </connector>
            <label>Not Applicable</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_If_Applicant_2_Patient_is_Exist</name>
        <label>If If Applicant 2 Patient is Exist?</label>
        <locationX>2492</locationX>
        <locationY>1511</locationY>
        <defaultConnector>
            <targetReference>Create_Patient_for_Applicant2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Applicant 2 Patient Not Exist</defaultConnectorLabel>
        <rules>
            <name>Applicant2_Patient_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Patients_for_Applicant2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_Duplicates_allow_for_Applicant_2</targetReference>
            </connector>
            <label>Applicant2 Patient Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Change_Check</name>
        <label>Status Change Check</label>
        <locationX>1766</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Change_Read_Only</name>
            <conditionLogic>1 AND ( 2 OR 3 OR 4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>In Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Not Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Appeal Requested</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Changes Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Final_date_Update</targetReference>
            </connector>
            <label>Status Change Read Only</label>
        </rules>
        <rules>
            <name>Status_Change_Non_Read_Only</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Changes Requested</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_duplicate_Case_Records</targetReference>
            </connector>
            <label>Status Change Non Read Only</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Changed_from_Draft_to_Submit</name>
        <label>Status Changed from Draft to Submit</label>
        <locationX>2339</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetPersonAccountRecordType</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Case After Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case After Handler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Patient_for_Applicant2</name>
        <label>Copy 1 of Create Patient for Applicant2</label>
        <locationX>1370</locationX>
        <locationY>1835</locationY>
        <connector>
            <targetReference>Copy_1_of_Update_Patient_Details_for_Applicants</targetReference>
        </connector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>$Record.Applicant2Address__City__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>$Record.Applicant2Address__CountryCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>$Record.Applicant2Address__PostalCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>$Record.Applicant2Address__StateCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>$Record.Applicant2Address__Street__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.Applicant2GivenName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Applicant2Surname__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MiddleName</field>
            <value>
                <elementReference>$Record.Applicant2MiddleName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonBirthdate</field>
            <value>
                <elementReference>$Record.Applicant2DateOfBirth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonalHealthNumber__c</field>
            <value>
                <elementReference>$Record.Applicant2PersonalHealthNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetPersonAccountRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>$Record.Applicant2Address__City__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>$Record.Applicant2Address__CountryCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>$Record.Applicant2Address__PostalCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>$Record.Applicant2Address__StateCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>$Record.Applicant2Address__Street__s</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Patient_for_Applicant2</name>
        <label>Create Patient for Applicant2</label>
        <locationX>2690</locationX>
        <locationY>1619</locationY>
        <connector>
            <targetReference>Update_Patient_Details_for_Applicants</targetReference>
        </connector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>$Record.Applicant2Address__City__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>$Record.Applicant2Address__CountryCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>$Record.Applicant2Address__PostalCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>$Record.Applicant2Address__StateCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>$Record.Applicant2Address__Street__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.Applicant2GivenName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Applicant2Surname__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MiddleName</field>
            <value>
                <elementReference>$Record.Applicant2MiddleName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonBirthdate</field>
            <value>
                <elementReference>$Record.Applicant2DateOfBirth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonalHealthNumber__c</field>
            <value>
                <elementReference>$Record.Applicant2PersonalHealthNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetPersonAccountRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>$Record.Applicant2Address__City__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>$Record.Applicant2Address__CountryCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>$Record.Applicant2Address__PostalCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>$Record.Applicant2Address__StateCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>$Record.Applicant2Address__Street__s</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Patient_from_Applicant1</name>
        <label>Create Patient from Applicant1</label>
        <locationX>2195</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>If_Applicant_2_Not_Applicable</targetReference>
        </connector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>$Record.Applicant1Address__City__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>$Record.Applicant1Address__CountryCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>$Record.Applicant1Address__StateCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>$Record.Applicant1Address__StateCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>$Record.Applicant1Address__Street__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.Applicant1GivenName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.Applicant1Surname__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MiddleName</field>
            <value>
                <elementReference>$Record.Applicant1MiddleName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonBirthdate</field>
            <value>
                <elementReference>$Record.Applicant1DateOfBirth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonalHealthNumber__c</field>
            <value>
                <elementReference>$Record.Applicant1PersonalHealthNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetPersonAccountRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>$Record.Applicant1Address__City__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>$Record.Applicant1Address__CountryCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>$Record.Applicant1Address__PostalCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>$Record.Applicant1Address__StateCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>$Record.Applicant1Address__Street__s</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_Get_Existing_Patients_for_Applicant2</name>
        <label>Copy 1 of Get Existing Patients for Applicant2</label>
        <locationX>1172</locationX>
        <locationY>1619</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_If_If_Applicant_2_Patient_is_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonalHealthNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Applicant2PersonalHealthNumber__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Record_Type</name>
        <label>Get Case Record Type</label>
        <locationX>2339</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Case_IVF_Application</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message_on_Non_Read_Only</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IVF_Application</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_duplicate_Case_Records</name>
        <label>Get duplicate Case Records</label>
        <locationX>2339</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <filters>
            <field>Applicant1PersonalHealthNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Applicant1PersonalHealthNumber__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Patients</name>
        <label>Get Existing Patients</label>
        <locationX>1724</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Applicant1_Exist_as_Patient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonalHealthNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Applicant1PersonalHealthNumber__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Patients_for_Applicant2</name>
        <label>Get Existing Patients for Applicant2</label>
        <locationX>2492</locationX>
        <locationY>1403</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_If_Applicant_2_Patient_is_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonalHealthNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Applicant2PersonalHealthNumber__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Read_Only_Record_Type</name>
        <label>Get Read Only Record Type</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Case_IVF_Application_Read_Only</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message_on_Read_Only</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IVF_Application_Read_Only</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPersonAccountRecordType</name>
        <label>GetPersonAccountRecordType</label>
        <locationX>1724</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_Patients</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PersonAccount</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Patient_Details_for_Applicants</name>
        <label>Copy 1 of Update Patient Details for Applicants</label>
        <locationX>1370</locationX>
        <locationY>1943</locationY>
        <inputAssignments>
            <field>Applicant1__c</field>
            <value>
                <elementReference>Get_Existing_Patients.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant2__c</field>
            <value>
                <elementReference>Copy_1_of_Create_Patient_for_Applicant2</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_Update_Existing_Patient_Related_to_Applicant2</name>
        <label>Copy Update Existing Patient Related to Applicant2</label>
        <locationX>842</locationX>
        <locationY>2051</locationY>
        <connector>
            <targetReference>Copy_Update_Patient_Details_for_Both_Applicants</targetReference>
        </connector>
        <inputReference>Copy_1_of_Get_Existing_Patients_for_Applicant2</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_Update_Patient_Details_for_Both_Applicants</name>
        <label>Copy Update Patient Details for Both Applicants</label>
        <locationX>842</locationX>
        <locationY>2159</locationY>
        <inputAssignments>
            <field>Applicant1__c</field>
            <value>
                <elementReference>Get_Existing_Patients.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant2__c</field>
            <value>
                <elementReference>Copy_1_of_Get_Existing_Patients_for_Applicant2.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Final_date_Update</name>
        <label>Final date Update</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Get_Read_Only_Record_Type</targetReference>
        </connector>
        <filterLogic>1 OR 2</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Not Approved</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>FinalDecisionDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Applicant_Details_for_Case</name>
        <label>Update Applicant Details for Case</label>
        <locationX>1898</locationX>
        <locationY>1403</locationY>
        <inputAssignments>
            <field>Applicant1__c</field>
            <value>
                <elementReference>Create_Patient_from_Applicant1</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Applicant_Details_from_Patients</name>
        <label>Update Applicant Details from Patients</label>
        <locationX>578</locationX>
        <locationY>1619</locationY>
        <inputAssignments>
            <field>Applicant1__c</field>
            <value>
                <elementReference>Get_Existing_Patients.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_IVF_Application</name>
        <label>Update Case IVF Application</label>
        <locationX>2339</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Status_Changed_from_Draft_to_Submit</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Case_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_IVF_Application_Read_Only</name>
        <label>Update Case IVF Application Read Only</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Read_Only_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Existing_Patient_Related_to_Applicant2</name>
        <label>Update Existing Patient Related to Applicant2</label>
        <locationX>2162</locationX>
        <locationY>1835</locationY>
        <connector>
            <targetReference>Update_Patient_Details_for_Both_Applicants</targetReference>
        </connector>
        <inputReference>Get_Existing_Patients_for_Applicant2</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Patient_Details_for_Applicants</name>
        <label>Update Patient Details for Applicants</label>
        <locationX>2690</locationX>
        <locationY>1727</locationY>
        <inputAssignments>
            <field>Applicant1__c</field>
            <value>
                <elementReference>Create_Patient_from_Applicant1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant2__c</field>
            <value>
                <elementReference>Create_Patient_for_Applicant2</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Patient_Details_for_Both_Applicants</name>
        <label>Update Patient Details for Both Applicants</label>
        <locationX>2162</locationX>
        <locationY>1943</locationY>
        <inputAssignments>
            <field>Applicant1__c</field>
            <value>
                <elementReference>Create_Patient_from_Applicant1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Applicant2__c</field>
            <value>
                <elementReference>Get_Existing_Patients_for_Applicant2.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Patient_Record_for_Applicant_1</name>
        <label>Update Patient Record for Applicant 1</label>
        <locationX>875</locationX>
        <locationY>1403</locationY>
        <connector>
            <targetReference>Check_If_Applicant_2_Not_Applicable</targetReference>
        </connector>
        <inputReference>Get_Existing_Patients</inputReference>
    </recordUpdates>
    <start>
        <locationX>1640</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status_Change_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>CasesharerecordInsertList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseShare</objectType>
    </variables>
    <variables>
        <name>Createcasesharerecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseShare</objectType>
    </variables>
    <variables>
        <name>TodayDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    
</Flow>
